 .input {
    background-color: transparent;
    border:none;
    font-size: 1rem;
    margin-left: 1rem;
}
 
.text-input::placeholder{
    color: var(--purple);
}

#search {
    border-bottom: 0.5px solid rgba(67,41,90,0.42);
    border-radius: 4px;
}