
.backdrop {
    width: 100vw;
    margin: 40px 0;
}


iframe {
    width: 100vw;
    height: 56.25vw; /* Calcula a altura para manter a proporção 16:9 */
}

.info-video {
    width: 100vw;
    margin: 20px 3px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-size: 2rem;
}

.container-video a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0,3rem;
}

@keyframes tchalAnimation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

svg {
    width: 2rem;
    height: 2rem;
    -webkit-animation: tchalAnimation 2s infinite;
    animation: tchalAnimation 2s infinite;
}

.music-person {
    display: flex;
    gap: 1rem;
    margin-top: 30px;
}

.music, .person {
    display: flex; /* ou display: inline-flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    video {
        height: 30vw;
        margin-right: 1rem;
    }
    
    .info-video {
        width: 30vw;
        margin-right: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column
    }

    .container-video {
        display: flex;
    }
    
}
