
.backdrop {
    width: 100vw;
    margin: 40px 0;
}


iframe {
    width: 100vw;
    height: 56.25vw; /* Calcula a altura para manter a proporção 16:9 */
}

.info-video {
    width: 100vw;
    margin: 20px 3px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-size: 2rem;
}

.container-video a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0,3rem;
}

@keyframes tchalAnimation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

svg {
    width: 2rem;
    height: 2rem;
    -webkit-animation: tchalAnimation 2s infinite;
    animation: tchalAnimation 2s infinite;
}

.music-person {
    display: flex;
    gap: 1rem;
    margin-top: 30px;
}

.music, .person {
    display: flex; /* ou display: inline-flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    text-align: center;
}

.container-recados{
    background-color: #f3c46c; 
    background-color: rgb(243, 196, 108); 

}

.container-recados h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    padding-top: 2rem;
}

.recados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recado {
    position: relative;
    height: auto;
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
}
.recado::before {
    content: '\1F4CC'; /* Código Unicode para o ícone de alfinete */
    font-size: 1.5rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

/* Adicionado: rotação aleatória para alguns recados */
.recado:nth-child(odd) {
    transform: rotate(2deg);
}

.recado p{
    font-family: 'Homemade Apple', cursive;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    line-height: 1.3em;
    display: flex;
    color: #0d214f ;
}

.recado spam{
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    line-height: 1.3rem;
    display: flex;
}  

.container-pioneiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-text a {
   margin: 1rem;
   font-family: 'IBM Plex Sans', sans-serif;
   color: black !important;
   text-decoration: none; /* Remove sublinhado padrão */

}

.menu-text a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    color: inherit; /* Herda a cor do texto do elemento pai */
  }
.menu-text{
    display: flex;
}
.item-menu {
    height: auto;
    border-radius: 50%;
    align-items: center;
}

.item-menu img{
    max-width: 40px ;
    height: auto;
    border-radius: 50%;
    justify-content: center;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    video {
        height: 30vw;
        margin-right: 1rem;
    }
    
    .info-video {
        width: 30vw;
        margin-right: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column
    }

    .container-video {
        display: flex;
    }
    
}


