
.backdrop {
    width: 100vw;
    margin-top: 20px
}


iframe {
    width: 100vw;
    height: 56.25vw; /* Calcula a altura para manter a proporção 16:9 */
}

.info-video {
    width: 100vw;
    margin: 20px 3px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-size: 1rem;
}

.container-video a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0,5rem;
}

.backdrop::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Altura do gradiente na parte inferior */
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none; /* Garante que o gradiente não interfira com os elementos abaixo */
}
@media screen and (min-width: 768px) {
    video {
        height: 30vw;
        margin-right: 1rem;
    }
    
    .info-video {
        width: 30vw;
        margin-right: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column
    }

    .container-video {
        display: flex;
    }
    
}
